

<!-- row 1 -->
<form class="" action="/profile/{{big.user_name}}/{{big.info.project_id}}/updated" method="post">

<div class="flex">
  <input type="text" name="title" value="{{big.info.title}}">
  <input type="text" name="description" value="{{big.info.description}}">
  <input class="hidden" name="project_id" value="{{big.info.project_id}}">
</div>

<!-- row 2 -->

<div class="flex">
  <div class="">
    <div class="">
       {{big.info.skill}}
    </div>
  </div>
  <div class="">
    <div class="">
      <label for="">Will users need to signup for an email list?</label>
        <select name="emailList" value="{{big.info.emailList}}">
          <option value="">N/A</option>
          <option value="No">No</option>
          <option value="Yes">Yes</option>
        </select>
    </div>
    <div class="">
      <label for="">Will users need to create an account?</label>
      <select name="database" value={{big.info.database}}>
        <option value="">N/A</option>
        <option value="No">No</option>
        <option value="Yes">Yes</option>
      </select>
    </div>
  </div>
  <div class="">
    <label for="">Approximate Time Commitment</label>
    <select name="timeCommit" value="{{big.info.timeCommit}}">
      <option value="">N/A</option>
      <option value="Under 20 Hours">Under 20 Hours</option>
      <option value="Under 40 Hours">Under 40 Hours</option>
      <option value="Under 80 Hours">Under 80 Hours</option>
      <option value="Under 100 Hours">Under 100 Hours</option>
      <option value="">100+ Hours</option>
    </select>
  </div>
</div>

<!-- row 3 -->

<div class="">
  <div class="">
    <label for="">What will be the main feature?</label>
    <select name="mainFeature" value="{{big.info.mainFeature}}">
      <option value="">N/A</option>
      <option value="Chat App">Chat App</option>
      <option value="Scheduling">Scheduling App</option>
      <option value="Email">Email Signup</option>
      <option value="CRUD">CRUD</option>
    </select>
  </div>
  <div class="">
    <label for="">What will be a the sub feature #1?</label>
    <select name="subFeature1" value="{{big.info.subFeature1}}">
      <option value="">N/A</option>
      <option value="CRUD">CRUD</option>
      <option value="Email Signup">Email Signup</option>
      <option value="API Request">API Request</option>
    </select>
  </div>
  <div class="">
    <label for="">What will be the sub feature #2?</label>
    <select name="subFeature2" value="{{big.info.subFeature2}}">
      <option value="">N/A</option>
      <option value="CRUD">CRUD</option>
      <option value="Email Signup">Email Signup</option>
      <option value="API Request">API Request</option>
    </select>
  </div>
</div>

<button type="submit" class="btn btn-success">Save Changes</button>
<a href="/profile/{{big.user_name}}/{{big.info.title}}/edit/delete" class="btn btn-danger">Delete Project</a>
</form>
