<!-- row 1 -->
<div class="flex">
  <h2 class="fill">{{info.title}}</h2>
  <p class="fill">{{info.description}}</p>
</div>

<!-- row 2 -->

<div class="flex">
  <div class="">
    <div class="">
      {{info.skill}}
    </div>
  </div>
  <div class="">
    <div class="">
      <label for="">Will users need to signup for an email list?</label>
        {{info.emailList}}
    </div>
    <div class="">
      <label for="">Will users need to create an account?</label>
      {{info.database}}
    </div>
  </div>
  <div class="">
    <label for="">Approximate Time Commitment</label>
    {{info.timeCommit}}
  </div>
</div>

<!-- row 3 -->

<div class="">
  <div class="">
    <label for="">What will be the main feature?</label>
    {{info.mainFeature}}
  </div>
  <div class="">
    <label for="">What will be a the sub feature #1?</label>
    {{info.subFeature1}}
  </div>
  <div class="">
    <label for="">What will be the sub feature #2?</label>
    {{info.subFeature2}}
  </div>
</div>


<div class="fill">
  <a class="btn btn-warning" href="/profile/{{user_name}}/{{info.title}}/edit">Edit Project</a>
</div>


<!-- Use handlebars if looper -->


<div class="flex">
  <div class="border langDiv">
    <div class="lang4Real realLang">
      <h3 class='langTitle'>{{lang4}}</h3>
        <a href="#">Tutorial 1</a>
        <a href="#">Tutorial 2</a>
    </div>
    <div class="lang3Real realLang">
      <h3 class='langTitle'>{{lang3}}</h3>
        <a href="#">Tutorial 1</a>
        <a href="#">Tutorial 2</a>
    </div>
    <div class="lang2Real realLang">
      <h3 class='langTitle'>{{lang2}}</h3>
        <a href="#">Tutorial 1</a>
        <a href="#">Tutorial 2</a>
    </div>
    <div class="lang1Real realLang">
      <h3 class='langTitle'>{{lang1}}</h3>
        <a href="#">Tutorial 1</a>
        <a href="#">Tutorial 2</a>
    </div>
  </div>
</div>
</div>
