<!-- row 1 -->
<div class="flex">
  <h2 class="fill">{{big.info.title}}</h2>
  <p class="fill">{{big.info.description}}</p>
</div>

<!-- row 2 -->

<div class="flex">
  <div class="">
    <div class="">
      {{big.info.skill}}
    </div>
  </div>
  <div class="">
    <div class="">
      <label for="">Will users need to signup for an email list?</label>
        {{big.info.emailList}}
    </div>
    <div class="">
      <label for="">Will users need to create an account?</label>
      {{big.info.database}}
    </div>
  </div>
  <div class="">
    <label for="">Approximate Time Commitment</label>
    {{big.info.timeCommit}}
  </div>
</div>

<!-- row 3 -->

<div class="">
  <div class="">
    <label for="">What will be the main feature?</label>
    {{big.info.mainFeature}}
  </div>
  <div class="">
    <label for="">What will be a the sub feature #1?</label>
    {{big.info.subFeature1}}
  </div>
  <div class="">
    <label for="">What will be the sub feature #2?</label>
    {{big.info.subFeature2}}
  </div>
</div>


<div class="fill">
  <a class="btn btn-warning" href="/profile/{{big.user_name}}/{{big.info.title}}/edit">Edit Project</a>
</div>


<!-- Use handlebars if looper -->
{{#if big.info.mainFeature}}
<div class="flex">
  <h1>Recommended Stack:</h1>
  <div class="">
    <h3>Backend Languages</h3>
      {{lang4}}
  </div>
  <div class="">
    <h3>Frontend Languages</h3>
      {{lang3}}
      {{lang2}}
      {{lang1}}
  </div>
{{/if}}


</div>
